{% extends "beas.html" %} {% load bootstrap4 %} {% block body %}

<div class="submit-ad main-grid-border">
    <div class="container">
        <h2 class="head">Change Your Password</h2>
        <div class="post-ad-form">
            <from method="post">
                {% csrf_token %} {% bootstrap_form form %} {% buttons %}
                <button type="submit " class="btn btn-primary ">Change Password</button> {% endbuttons %}
                </form>
        </div>
    </div>
</div>

{% endblock body %}